

@font-face {
      font-family: 'Titre';
      src: url("../typo/Blop.otf") format('truetype');
      font-style: normal;

  }


@font-face {
      font-family: 'Texte_Serif';
      src: url("../typo/BBBBaskervvol-Base.ttf") format('truetype');
      font-style: normal;
}


@font-face {
      font-family: 'Texte_Sans_Serif';
      src: url("../typo/NectoMono-Regular.otf") format('truetype');
      font-style: normal;
}

@font-face {
      font-family: 'Typo_feche';
      src: url("../typo/feche_typo.ttf") format('truetype');
      font-style: normal;
}


@font-face {
      font-family: 'Emojix';
      src: url("../typo/wingdingdeux.ttf") format('truetype');
      font-style: normal;
}

html, body {
 margin:0;
 padding:0;
 color: white;
 background: black;
 height: 580vh;
 }

a{
  text-decoration: none;
  color: white;
}

.feche{
  font-family: Typo_feche ;
font-size: 1.3em;}



/*---------------------------------LE HAUT-----------------------------*/ 

#entete{
  z-index: 5;
    font-family: Titre;
    position: fixed;
    padding: 0px;
    margin: 0px;
width: 100%;
height: 4em;
background:  black;
border-bottom: 1px solid white;
}


#titre{
  position: absolute;
  padding-left: 20px;
  padding-top: 7px;
  text-align: left;
  font-size: 2.5em ;
}



#droite{
  position: absolute;
  padding-right: 20px;
  padding-top: 10px;
  text-align: right;
  font-size: 1em ;
  right: 0px;
  font-family: Titre;
}

a.menu{
      margin-left: 10px;
    color: white;
text-decoration: none;
}

a.menu:hover{
    color: white;
text-decoration: underline;
}




/*---------------------------------BOUTON COULEUR-----------------------------*/ 

.boutonCouleur{
  margin-top: 5px; 
  height: 20px;
width: 20px;
border-radius: 10px;
background-color: black;
border: 1px solid white;
cursor: pointer;
z-index: 3;
}

 #bouton_nuit:hover {
background-color: white;
}

 #bouton_jour:hover {
background-color: white;
}

#bouton_jour{
background-color: black;  
}

#bouton_nuit{
background-color: white;  
}


#bouton_color{
  background-color: black;
}

 #bouton_color:hover {
background-color: white;
}

/*---------------------------------LE CORPS-----------------------------*/ 

#corps{
display: inline-flex;
  height: 100%;
width: 100%;  
}


/*---------------------------------PHOTOS-----------------------------*/ 

#corps{
  margin-top: 200px;
}

#souligne_etape{
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
  cursor: pointer;
}


     .objlienhorizontal {
      position: absolute;
    background-repeat: none;
        height: 230px;
        width: auto;}


     .objlienvertical {
      position: absolute;
        height: auto;
        width: 210px;}


#cadet{
  top: 13vh;
  left: 8vw;
position: absolute;}

#cooperative_soie{
  top: 32vh;
  left: 40vw;
position: absolute;}


#eglise{
  top:  20vh;
  left: 65vw;
  position: absolute;
}

#fabrique_malliquet{
  top:  63vh;
  left: 15vw;
  position: absolute;
}

#fabrique_taillis_vert{
  top:  70vh;
  left: 70vw;
  position: absolute;
}

#logement_ouvrier{
  top: 110vh;
  left: 50vw;
position: absolute;}


#fonderie_bancel{
  top:  115vh;
  left: 26vw;
  position: absolute;
}

#maison_maitre{
  top:  140vh;
  left: 52vw;
  position: absolute;
}

#moulin_mas{
  top:  120vh;
  left: 80vw;
  position: absolute;
}

#loisir_education{
  top:  180vh;
  left: 15vw;
  position: absolute;
}


#moulinage_etienne{
  top:  130vh;
  left: 4vw;
  position: absolute;
}

#moulinage_cellard{
  top:  185vh;
  left: 72vw;
  position: absolute;
}

#moulinage_roche{
  top:  220vh;
  left: 10vw;
  position: absolute;
}

#orangerie{
  top:  190vh;
  left: 42vw;
  position: absolute;
}


#systeme_hydraulique{
  top:  85vh;
  left: 45vw;
  position: absolute;
}

#usine_blanc{
  top:  260vh;
  left: 4vw;
  position: absolute;
}

#usine_blanc_ligue{
  top:  275vh;
  left: 28vw;
  position: absolute;
}

#usine_bobichon{
  top:  245vh;
  left: 50vw;
  position: absolute;
}

#usine_chirol{
  top:  235vh;
  left: 75vw;
  position: absolute;
}

#usine_joseph_perrier{
  top:  300vh;
  left: 51vw;
  position: absolute;
}

#usine_saint_joseph{
  top:  330vh;
  left: 30vw;
  position: absolute;
}

#usine_saint_joseph_bas{
  top:  310vh;
  left: 6vw;
  position: absolute;
}

#usine_saint_victor{
  top:  360vh;
  left:5vw;
  position: absolute;
}

#usine_sainte_julie{
  top:  335vh;
  left: 75vw;
  position: absolute;
}

#usine_sainte_marthe{
  top:  440vh;
  left: 30vw;
  position: absolute;
}

#usine_sainte_marie{
  top:  400vh;
  left: 9vw;
  position: absolute;
}


#usine_perrier{
  top:  450vh;
  left: 62vw;
  position: absolute;
}

#logement{
  top:  290vh;
  left: 70vw;
  position: absolute;
}


#commerce{
  top:  390vh;
  left: 35vw;
  position: absolute;
}


#parc_naturel{
  top:  350vh;
  left: 55vw;
  position: absolute;
}

#pavillon{
  top:  390vh;
  left: 78vw;
  position: absolute;
}
#pelussin{
  top:  510vh;
  left: 35vw;
  position: absolute;
}

#remettage_piraillon{
  top:  550vh;
  left: 4vw;
  position: absolute;
}

#moulinage_barou{
  top:  500vh;
  left: 8vw;
  position: absolute;
}

#davezieux{
  top:  495vh;
  left: 77vw;
  position: absolute;
}

#barrage_ternay{
  top:  532vh;
  left: 56vw;
  position: absolute;
  margin-bottom: 60px;
}

img:hover + .box_legende {
  display: block;
}
/*---------------------------------TEXTE-----------------------------*/ 


#ligne{
  width: 100vw;
  height: 20px;
  border-bottom: 1px solid white;
  border-bottom-style: dashed;
  position: absolute;
  top: 485vh;
}

.legende{
  color: white;
  font-family: Titre;
  font-size: 1.1em;
}

.box_legende{
  display: none;
  width: fit-content;
  position: absolute;
  height: auto;
  background-color: black;
  border: 1px solid white;
  padding-left: 25px;
  padding-right: 25px;
  white-space: nowrap;
  padding-top: 0px;
  top: 200px;
  left: 60px;
  z-index: 2;
}


/*---------------------------------RETOUR-----------------------------*/
#nav {
  z-index: 3;
  position: fixed;
 height: 100vh;
  top: 0;
  left: -30px;
  cursor: pointer;
  width: 30px;
  background-color: black;
  border-right: 1px solid white;
  writing-mode: vertical-rl;
text-orientation: mixed;
color: white;
padding-top: 80px;
padding-right: 10px;
    transition: width 0.5s;
}

    #nav.closed:hover {
      width: 60px; }


#nav_sommaire {
  z-index: 3;
  position: fixed;
 height: 100vh;
  top: 0;
  left: -30px;
  cursor: pointer;
  width: 70px;
  background-color: black;
  border-right: 1px solid white;
color: white;
padding-top: 80px;
padding-right: 0px;
    transition: width 0.5s;
font-family: Titre;
font-size: 1.3em;
}


.titre_sommaire{
  position: absolute;
writing-mode: vertical-rl;
text-orientation: mixed;
right: 8px;
top: 80px;

}
    #nav_sommaire.closed:hover {
      width: 350px; }


.date_sommaire{
position: relative;
  text-decoration: none;
  color: white;
  text-decoration: none;
    margin-bottom: 2px ;
}


.date_sommaire:hover {
  text-shadow:white 1px 0 10px ;

}

.prec_next{
position: relative;
  text-decoration: none;
  color: white;
  text-decoration: none;
    margin-bottom: 2px ;
    top: 30px;
}

#boite_date{
  display: grid;
    position: absolute;
  text-align: left;
  font-size: 0.75em;
  width: 290px;
  right: 30px;
  overfow-y: scroll;
  height: 80%;
      direction:rtl; 
      padding-bottom: 30px;

}

.txt_sommaire{
  direction: ltr;
  margin-left: 30px;
}