

@font-face {
      font-family: 'Titre';
      src: url("../../typo/Blop.otf") format('truetype');
      font-style: normal;

  }


@font-face {
      font-family: 'Texte_Serif';
      src: url("../../typo/BBBBaskervvol-Base.ttf") format('truetype');
      font-style: normal;
}


@font-face {
      font-family: 'Texte_Sans_Serif';
      src: url("../../typo/NectoMono-Regular.otf") format('truetype');
      font-style: normal;
}


@font-face {
      font-family: 'Emojix';
      src: url("../../typo/wingdingdeux.ttf") format('truetype');
      font-style: normal;
}
@font-face {
      font-family: 'Typo_fleche';
      src: url("../../typo/fleche_typo.ttf") format('truetype');
      font-style: normal;
}


html, body {
 margin:0;
 padding:0;
 color: white;
 background:  black;
 }

a{
  text-decoration: none;
  color: white;
}

.feche{
  font-family: Typo_feche ;
font-size: 1.3em;}


/*---------------------------------LE HAUT-----------------------------*/ 

#entete{
  z-index: 5;
    font-family: Titre;
    position: fixed;
    padding: 0px;
    margin: 0px;
    margin-top:-80px ;
width: 100%;
height: 4em;
background:  black;
border-bottom: 1px solid white;
}


#titre{
  position: absolute;
  padding-left: 20px;
  padding-top: 7px;
  text-align: left;
  font-size: 2.5em ;
}


#droite{
  position: absolute;
  padding-right: 20px;
  padding-top: 10px;
  text-align: right;
  font-size: 1em ;
  right: 0px;
  font-family: Titre;
}

a.menu{
      margin-left: 10px;
    color: white;
text-decoration: none;
}

a.menu:hover{
    color: white;
text-decoration: underline;
}

#lienTitre:hover{
  text-decoration: underline;  
}
/*---------------------------------PRINT -----------------------------*/ 


#bouton_print{
font-family: Emojix;
padding-top: 5px;
font-size: 1.5em;
line-height: 0.5em;
cursor: pointer;
}

#bouton_print:hover{
text-decoration: underline;
text-shadow: white 1px 0 10px;
}



/*---------------------------------LE CORPS-----------------------------*/ 
#corps{
  display: block;
  padding-bottom: 100px;
}
/*---------------------------------RETOUR-----------------------------*/

#nav {
  font-family: Titre;
  z-index: 3;
  position: fixed;
 height: 100vh;
  top: 0;
  left: -30px;
  cursor: pointer;
  width: 20px;
  background-color: black;
  border-right: 1px solid white;
  writing-mode: vertical-rl;
text-orientation: mixed;
color: white;
padding-top: 80px;
padding-right: 10px;
    transition: width 0.5s;
}

    #nav.closed:hover {
      width: 50px; }


/*---------------------------------BOUTON COULEUR-----------------------------*/ 

.boutonCouleur{
  margin-top: 5px; 
  height: 20px;
width: 20px;
border-radius: 10px;
background-color:  black;
border: 1px solid white;
cursor: pointer;
z-index: 3;
}

 #bouton_nuit:hover {
background-color: white;
}

 #bouton_jour:hover {
background-color: white;
}

#bouton_jour{
background-color:  black;  
}

#bouton_nuit{
background-color:  white;  
}


#bouton_color:hover  {
  background-color: white;
}

#bouton_color{
  background-color: black;
}


/*---------------------------------ORGA IMAGE-----------------------------*/ 
.boite_image{
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
justify-content: space-evenly;
}

#boite_image_1{

  margin-top: 80px;

}

#boite_image_2{

  margin-top: 40px;
}


.pix{
width: 260px;
height: 260px;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}

#pix_play{

background-repeat: no-repeat;
background-size: contain;
background-position: center;
}

.pix:hover {
  cursor: pointer;
}

/*---------------------------------PHOTO AGRANDIE-----------------------------*/ 



.bouton_fermer{
  z-index: 8;
  position: absolute;
  right: 9%;
  top: 82px;
  width: 40px;
  height: 40px;
  background-color: black;
  border: 1px solid white;

}

.bouton_fermer:hover{
  cursor: pointer;
  background-color: white;
}

.lightbox {
  text-align: center;

  display: none;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 5em;
  padding-left: 10%;
  padding-right: 10%;
  background: rgba(0, 0, 0, 0.8);
}



.lightbox span {
  display: block;
  width: 80vw;
  height: 80%;
  top: 70px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

video{
  width: 80vw;
  height: 80%;
}

#legende{
  font-family: Titre;
  font-size: 1.1em;
  background-color: black;
  padding-top: 15px;
    padding-bottom: 15px;
      padding-left: 30px;
        padding-right: 30px;
position: relative;  
margin-left: 200px;
  border: 1px solid white;
  margin-top: 20px;
width: fit-content;
}


/*---------------------------------PDF-----------------------------*/ 
      .pdf_viewer {
          width: 70%;
          height: 85%;
 display: inline-block;
     margin: 0 auto;
}
/*---------------------------------son-----------------------------*/ 

#big_boite_son{
  display: block;
vertical-align: middle;

}
#boite_son{
position: relative;
margin-top: 144px;
margin-left: auto;
margin-right: auto;
  text-align: center;
display: flex;
justify-content: space-evenly;
align-items: center;
width: 700px;

}

#mediamarquee {
display: relative;
color: white;
  z-index: 2;
  font-family: 'Titre';
  font-size: 1.1em;
  margin-top: 50px;
  text-shadow: white 1px 0 4px;

}

#mediabutton{
    vertical-align: middle;
display: inline-block;
  border: 1px solid white;
    background-color: black;
    border-radius: 50%;
    color: white;
  opacity: 1;
    width: 270px;
  height: 160px;
  font-size: 4em;
  font-style: italic;
  font-family: 'Titre';
}

#mediabutton:hover{
  cursor: pointer;
     box-shadow: white 1px 0 10px;

}

#play{
  margin: 0px;
  padding-top: 40px;
}

.fleche{
  display: inline-block;
    font-size: 4em;
  vertical-align: center;
    border: 1px solid white;
    background-color: black;
        border-radius: 50%;

  opacity: 1;
    width: 100px;
  height: 70px;
    font-family: 'Typo_fleche';

}

.fleche:hover{
  cursor: pointer;
   box-shadow: white 1px 0 10px;
}

.fleche:active{
  opacity: 1;
}



/*---------------------------------RETOUR-----------------------------*/
#nav {
  z-index: 3;
  position: fixed;
 height: 100vh;
  top: 0;
  left: -30px;
  cursor: pointer;
  width: 30px;
  background-color: white;
  border-right: 1px solid black;
  writing-mode: vertical-rl;
text-orientation: mixed;
color: black;
padding-top: 80px;
padding-right: 10px;
    transition: width 0.5s;
}

    #nav.closed:hover {
      width: 60px; }


#nav_sommaire {
  z-index: 3;
  position: fixed;
 height: 100vh;
  top: 0;
  left: -30px;
  cursor: pointer;
  width: 70px;
  background-color: white;
  border-right: 1px solid black;
color: black;
padding-top: 80px;
padding-right: 0px;
    transition: width 0.5s;
font-family: Titre;
font-size: 1.3em;
}


.titre_sommaire{
  position: absolute;
writing-mode: vertical-rl;
text-orientation: mixed;
right: 8px;

}
    #nav_sommaire.closed:hover {
      width: 350px; }


.date_sommaire{
position: relative;
  text-decoration: none;
  color: black;
  text-decoration: none;
    margin-bottom: 2px ;
}


.date_sommaire:hover {
  text-shadow:black 1px 0 10px ;

}

.prec_next{
position: relative;
  text-decoration: none;
  color: black;
  text-decoration: none;
    margin-bottom: 2px ;
    top: 30px;
}

#boite_date{
  display: grid;
    position: absolute;
  text-align: left;
  font-size: 0.75em;
  width: 290px;
  right: 30px;
  overflow-y: scroll;
  height: 80%;
      direction:rtl; 
      padding-bottom: 30px;

}

.txt_sommaire{
  direction: ltr;
  margin-left: 30px;
}